header{
  background-color: black;
  color: white;
}
body{
  background-color: black;
  color: white;
}

img{
  height: 25vh;
  width: 25vw;
}

.border-100{
border-radius: 0%;
}

.border-90{
  border-radius: 10%;

}

.border-80{
  border-radius: 20%;

}

.border-70{
  border-radius: 30%;

}

.border-60{
  border-radius: 40%;

}

.border-50{
  border-radius: 50%;

}

.border-40{
  border-radius: 50%;
  height: 20vh;
  width: 20vw;
}

.border-30{
  border-radius: 50%;
  height: 18vh;
  width: 18vw;
}

.border-20{
  border-radius: 50%;
  height: 16vh;
  width: 16vw;
}

.border-10{
  border-radius: 50%;
  height: 14vh;
  width: 14vw;
}

.border-0{
  border-radius: 50%;
  height: 12vh;
  width: 12vw;
}

.round-border{
  border-radius: 10%;
  border: 2px solid white;
}